<div class="middle-box text-center loginscreen animated fadeInDown vertical-center">
	    <div>
	        <div>
	            <h1 class="logo-name">Leonard</h1>
	        </div>
	        <% if(req.session.flash && req.session.flash.err) { %>
		        <div class="alert alert-danger alert-dismissable">
		        	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
		            <% if(req.session.flash.err.invalidAttributes) { %>
		                <% Object.keys(req.session.flash.err.invalidAttributes).forEach(function(error) { %>
		                <li><%- req.session.flash.err.invalidAttributes[error][0].message %></li>
		                <% }) %>
		            <% } %>
		            <% if(req.session.flash.err.message) { %>
		            	<li><%- req.session.flash.err.message %></li>
		            <% } %>
		        </div>
	        <% } %>
	        <% req.session.flash={}; %>
	        <div class="ibox-content color-black">
	          <h2 class="font-bold">Forgot password</h2>
            <p>Enter your email address and your password will be reset and emailed to you.</p>
            <div class="row">
              <div class="col-lg-12">
                <form class="m-t" role="form" action="/forgotpassword" method="POST">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address" name="email" required />
                  </div>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <button type="submit" class="btn btn-primary btn-lg block full-width m-b">Send new password</button>
	              </form>
              </div>
            </div>
          </div>
	        <p class="m-t"> <small>Leonard &copy; 2017</small> </p>
	    </div>
	</div>